################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BettingHouse/bin/Debug
/BettingHouse/obj/Debug
/.vs/BettingHouse/v14/.suo
/BettingHouse/DATAFILESTeams.XML
/BettingHouse/DATAFILESTeams.JSON
/BettingHouse/DATAFILESGames.XML
/BettingHouse/DATAFILESGames.JSON
/BettingHouse/DATAFILESCustomers.XML
/BettingHouse/DATAFILESCustomers.JSON
/BettingHouse/DATAFILESBets.XML
/BettingHouse/DATAFILESBets.JSON
